page-home {
	$blue1: #2fb6ed;
	$blue2: #1fdadf;

	.kids{
			font-family: 'FORMA';
  			font-style: normal;
  			font-weight: 400;
  			src: url('../assets/fonts/forma/Signika-Semibold.ttf');
	}
	.oferta{
		font-size: 1.3em;
		color: $blue1;
	}
	.hot {
		padding: 3px;
		
		img{
			border-radius: 10px;
			height: 120px;
			width: 150px;
		}
		background:none;
		overflow-x:hidden;
		margin-left:-4%;					//margem da pagina esquerda
		margin-right:-4%;						//margem da pagina direita

		ion-scroll {
			margin-left: 18px;
			margin-right: 18px;
			white-space: nowrap;
			height: 200px;					//altura
			background: #ebebeb;
		}
		.card {
			margin-top: 5px;
			border-radius: 10px;
			margin-left: 2px;
			margin-right: 2px;
			z-index: -1;
			position: relative;
			height: 200px;
			width: 114px;
			display: inline-block;
		}
		.card-discricao {
			font-size: 1.0em;
			margin-top: 10%;
			width: 100%;
			color: #414040;
			font-family: 'FORMA';
  			font-style: normal;
  			font-weight: 400;
  			src: url('../assets/fonts/forma/Signika-Semibold.ttf');
		}
		.card-preco1 {
			font-size: 1.0em;
			margin-top: 5%;
			width: 100%;
			color: red;
			text-decoration: line-through;
			font-family: 'FORMA';
  			font-style: normal;
  			font-weight: 400;
  			src: url('../assets/fonts/forma/Signika-Semibold.ttf');

		}
		.card-preco2 {
			font-size: 1.0em;
			margin-top: 5%;
			width: 100%;
			color:#17006b;
			font-family: 'FORMA';
  			font-style: normal;
  			font-weight: 400;
  			src: url('../assets/fonts/forma/Signika-Semibold.ttf');
		}
		.card-title{
			font-family: 'FORMA';
  			font-style: normal;
  			font-weight: 400;
  			src: url('../assets/fonts/forma/Signika-Semibold.ttf');
		}

		
	}
	.h2 {
		color: $red1;
	}
	.heart {
		margin-left: 14px;
	}
	.home {
		margin-left: 50px;
	}
	.profile {
		margin-left: 50px;
	}
	.text-primary {
		font-size: 150%;
	}
	.toolbar-background {
		//background: #21ade1;
		border-color: palegoldenrod;
		background: $blue1;
		//background-image: linear-gradient(to bottom right,  $red2, $red1); //fixa cor tollbar Home

	}
	.slide {
		margin-top: 0%;    //margem do topo
	}
	.tool {
		height: 3vh;
	}
}
.card1 {
	margin-top: -5%;
	margin-left: -5%;     	//margem da pagina esquerda
	margin-right: -5%;		//margem da pagina direita
}
//  .home { 
// 	 background: none;
// 	 margin-top: -5%;					//margem do topo
// 	 overflow-x:hidden;
// 	 margin-left: -4%;					//margem da pagina esquerda
// 	 margin-right: -4%;						//margem da pagina direita
//  		ion-scroll {
// 		white-space: nowrap;
// 		height: 29px;					//altura
// 		}
// 		ion-scroll img {
// 			height: 25px;					//altura
// 			width: inherit;				// largura
// 			margin: 5px; 
// 			display: inline-block;
// 		}
//  }