<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle color="light">
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
    <label ion-text class="text-primary" color="light">
      Kids Apego
    </label>


    <ion-buttons end>
      <button ion-button (click)="search()" color="light">
        <ion-icon ios="ios-search" md="md-search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="goToCart()" color="light">
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--SLIDE-->
  <div class="slide" no-bounce>
    <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
      <!--Startando o evento criado no, .TS-->
      <ion-slide *ngFor="let slide of slides">
        <img [src]="slide.image" class="slide-image" />
      </ion-slide>

      <ion-slide>
        <img src="assets/img/padrinhos3.png" class="slide-image" (click)="goToCategory()" />
      </ion-slide>
    </ion-slides>
  </div>






  <div class="card-background-page" padding>
    <ion-card *ngFor="let product of hotProducts">
      <img src="{{product.imgUrl}}" />
      <div class="card-title" text-wrap>{{ product.name }}</div>
      <div class="card-discricao" text-wrap>{{ product.description | uppercase }}</div>
      <div class="card-category" text-wrap>categoria: {{ product.category | lowercase }}</div>
      <div class="card-preco">preço: {{ product.price | currency : 'BRL' : 'symbol' : '0.2-2' }} </div>
    </ion-card>




  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="blue1">
    <ion-buttons>
      <button ion-button>
        <ion-icon name="heart-outline" class="heart" style="zoom:1.8;" color="light"></ion-icon>
      </button>
      <button ion-button (click)="goToHome()">
        <ion-icon name="home" class="home 10x" style="zoom:1.8;" color="light"></ion-icon>
      </button>
      <button ion-button>
        <ion-icon name="ios-chatbubbles" class="profile 10x" style="zoom:1.8;" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>












<!--<ion-content class="home1">
    <div>
      Example of Horizontal scrolling widget
     <ion-card>
       <ion-scroll scrolly="true">
         <img src="assets/img/pad1.png" (click)="goToProducts()">
         <img src="assets/img/pad2.png" (click)="goToProducts()">
       </ion-scroll>
     </ion-card>
     </div>
   </ion-content> -->

<!-- <ion-content>          COLUNAS
 
    <div class="row">
        <div class="col s12 m4 l2"><p>Baby Boy</p></div>
        <div class="col s12 m4 l2"><p>Baby Girl</p></div>
        <div class="col s12 m4 l2"><p>Menina</p></div>
        <div class="col s12 m4 l2"><p>Menino</p></div>
       

      </div>
     
 </ion-content>        -->

<!-- <ion-content class="teste1">
    <ion-card >

        <img src="assets/img/padrinhos3.png">
        < <ion-card-content>
          <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
        </ion-card-content>
</ion-card>
  </ion-content> -->



<!-- 

<ion-content >
    
    
    <div class="btn-group" >
       
        
        <button class="button" block >Baby Boy</button>
        <button class="button" block >Baby Girl</button>
        <button class="button" block >Menina</button>
        <button class="button" block >Menino</button>
     
      </div> 
</ion-content> -->

<!-- <ion-content padding>
  <h1 text-center>ApegoKids!</h1><br>
  <h3 *ngIf="currentUser">Bem vindo {{ currentUser.email }}</h3>
   -->



<!-- <button ion-button secondary menuToggle>Toggle Menu</button>
  <button ion-button block clear (click)="logOut()">
    logout
  </button>

  <h3>Usuários</h3>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <h2>Nome: {{ user.name }}</h2>
      <p>
        Email: {{ user.email }}<br>
        Uid: {{ user.uid }}<br>
        DocId: {{user.id}}
      </p> 

    </ion-item>
  </ion-list>
-->

<!--SLIDE DENTRO DO HTML-->
<!-- <div class="slideCat" no-bounce>
    <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
      Startando o evento criado no, .TS
      <ion-slide>
        <img src="assets/img/cat1.png" class="slide-image" />
      </ion-slide>

      <ion-slide>
        <img src="assets/img/cat2.png" class="slide-image" />
      </ion-slide>

      <ion-slide>
        <img src="assets/img/cat3.png" class="slide-image" />
      </ion-slide>

      <ion-slide>
        <img src="assets/img/cat4.png" class="slide-image" />
      </ion-slide>

      <ion-slide>
        <img src="assets/img/cat5.png" class="slide-image" />
      </ion-slide>

      <ion-slide>
        <img src="assets/img/cat6.png" class="slide-image" />
      </ion-slide>

    </ion-slides>
  </div> -->