<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content  no-bounce>
  <div class ="slide">
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)"> <!--Startando o evento criado no, .TS-->
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      </ion-slide>

    <ion-slide> 
      <img src="assets/img/padrinhos1.png" class="slide-image" />
   </ion-slide>
 </ion-slides>
</div>
</ion-content>



<ion-content class="card1">

  <ion-card>
    <img src="assets/img/pad3.png"/>
    
  </ion-card>

  
<!-- <ion-content padding>
  <h1 text-center>ApegoKids!</h1><br>
  <h3 *ngIf="currentUser">Bem vindo {{ currentUser.email }}</h3>
   -->

  

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button>
  <button ion-button block clear (click)="logOut()">
    logout
  </button>

  <h3>Usuários</h3>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <h2>Nome: {{ user.name }}</h2>
      <p>
        Email: {{ user.email }}<br>
        Uid: {{ user.uid }}<br>
        DocId: {{user.id}}
      </p> -->


    </ion-item>
  </ion-list>

</ion-content>