<div class="flake2"></div>
<div class="flake3"></div>

<ion-content padding center text-center>
    <div padding text-center>
        <div class="logo"></div>
        <h2 ion-text class="text-primary" color="light">
          <strong>Entrar</strong>
        </h2>
      </div>

      

  <form [formGroup]="signinForm" (submit)="loginUser()" novalidate>
    <ion-item class="item item-trns">
       <ion-label floating color="dark">
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
         Email
        </ion-label>
      <ion-input formControlName="email" type="email">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signinForm.controls.email.valid &&
    signinForm.controls.email.touched">
      <p>Por favor insira um email válido.</p>
    </ion-item>

    <ion-item class="item item-trns2">
      <ion-label floating color="dark">
        <ion-icon name="lock" item-start class="text-primary"></ion-icon>
        Senha
      </ion-label>
      <ion-input formControlName="password" type="password">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signinForm.controls.password.valid
    && signinForm.controls.password.touched">
      <p>Sua senha precisa ter ao menos 6 caracteres</p>
    </ion-item>
    

    <button class="Blogin" ion-button round block type="submit" color="dark" [disabled]="!signinForm.valid">
      Entrar
    </button>
  </form>

  <button ion-button block clear class="Bsignup" color="dark" (click)="goToSignup()">
    Quero me cadastrar
  </button>

  <button ion-button block clear  color="dark" (click)="goToResetPassword()">
    Esqueci a senha :(
  </button>
  
</ion-content>

<ion-content class="image-background">

  <img src="assets/img/login1.png">

</ion-content>
