<ion-menu side="left" id="authenticated" [content]="content" class="menu">
  <ion-header>
    <ion-toolbar>
      <div class="flake2"></div>
      <div class="flake3"></div>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <div class="user-avatar">
              <img src="../assets/img/Vestidos.jpg">

            </div>
          </ion-col>
          <label ion-text class="name" color="light">
            <p>Margarida</p>
          </label>
          <div class="perfil">
            <button ion-button clear menuClose color="light" *ngFor="let p of hiddenPages" (click)="openPage(p.component)">
              Minha conta
            </button>
          </div>


        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content class="list">
    <ion-list no-lines>
      <button menuClose ion-item (click)="goToHomePage()">
        Home
      </button>

      <button menuClose ion-item (click)="goToTutorialPage()">
        Tutorial
      </button>

      <ion-item *ngFor="let p of categories; let i=index" (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
        <h2>
          {{p.category}}
          <ion-icon color="success" [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
        </h2>
        <div *ngIf="isLevel1Shown('idx'+i)">
          <button menuClose ion-item (click)="toggleLevel2('idx'+i+'idx'+i2); openCategoryPage(p.category)"
            [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">
            Todos: {{p.category}}
          </button>
          <button menuClose ion-item *ngFor="let s of p.subcategories; let i2=index" (click)="toggleLevel2('idx'+i+'idx'+i2); openCategoryPage(p.category,s)"
            [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">
            {{s}}
          </button>
        </div>
      </ion-item>

      <button menuClose ion-item text-center *ngIf="!showUserTabInMenu" (click)="goToSigninPage()">
        Entrar
      </button>
      <!-- <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p.component)">
        {{p.title}}
      </button> -->

    </ion-list>
  </ion-content>

</ion-menu>

<div *ngIf="showSplash" class="splash">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1">
      <img src="assets/img/q1.png">
    </div>

    <div class="sk-cube sk-cube2">
      <img src="assets/img/q2.png">
    </div>

    <div class="sk-cube sk-cube3">
      <img src="assets/img/q3.png">
    </div>

    <div class="sk-cube sk-cube4">
      <img src="assets/img/q6.png">
    </div>

    <div class="sk-cube sk-cube5">
      <img src="assets/img/q5.png">
    </div>

    <div class="sk-cube sk-cube6">
      <img src="assets/img/q4.png">
    </div>

    <div class="sk-cube sk-cube7">
      <img src="assets/img/q7.png">
    </div>

    <div class="sk-cube sk-cube8">
      <img src="assets/img/q8.png">
    </div>

    <div class="sk-cube sk-cube9">
      <img src="assets/img/q9.png">
    </div>
  </div>
</div>


<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>



<!-- <ion-list id="sidenav">
      <ion-item (click)="menuItemHandler()">Categorias</ion-item>
      <ion-item-group submenu [class.visible]="showSubmenu">
        <ion-item id="sidenav2" (click)="menuItemHandler2()">Roupas</ion-item>
      <ion-item-group submenu [class.visible]="showSubmenu2">
          <ion-item submenu-item>Bodyes</ion-item>
          <ion-item submenu-item>Calça</ion-item>
          <ion-item submenu-item>Conjuntos</ion-item>
          <ion-item submenu-item>Vestidos</ion-item>
          <ion-item submenu-item>Jaquetas & Casacos</ion-item>
          <ion-item submenu-item>Shorts</ion-item>
        <ion-item submenu-item>Saias</ion-item>
        <ion-item submenu-item>Blusas</ion-item>
        <ion-item submenu-item>Jardineira</ion-item>
        <ion-item submenu-item>Macacão</ion-item>
        <ion-item submenu-item>Pijama</ion-item>
        <ion-item submenu-item>Roupa de banho</ion-item>
        <ion-item submenu-item>Meias</ion-item>
        <ion-item submenu-item>Moda intima</ion-item>

        </ion-item-group>
        <ion-item submenu-item>Calçados</ion-item>
        <ion-item submenu-item>Brinquedos</ion-item>
        <ion-item submenu-item>Acessório</ion-item>
        <ion-item submenu-item>Quarto</ion-item>
        <ion-item submenu-item>Escolar</ion-item>
      </ion-item-group> -->