$red1:       #ed2f4f;
$red2:       #e1213b;
  $blue1:      #2fb6ed;
  $blue2:      #1fdadf;



.toolbar-background {
	//background: #21ade1;
	
			background: #e1213b;       
		//	background-image: linear-gradient(to bottom right,  $red2, $red1); //fixa cor tollbar Home
		  }






.user-avatar {
  width: 68px;
  height: 68px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45);
  img {
    border-radius: 50%;
  }
}
.no-margin {
  margin: 0;
}
.text-white {
  color: #0000;
}

.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #33dcca;
}

    // Animação do cubo
.sk-cube-grid {
    width: 200px;
    height: 200px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
    
  }



  
/***************************
 *  Variables
 **************************/
 $font-family: 'Open Sans', sans-serif;
 $font-size:   1em;
 
 $color-body:  #ff0000;
 $color-text:  #282828;
 $color-menu:  #fcfcfc;
 
 $variable-menu-animation-time:        1s;
 $variable-burger-animation-time:      .35s;
 
 $variable-menu-animation-function:    cubic-bezier(.25, .1, .25, 1);
 $variable-burger-animation-function:  cubic-bezier(.68, -.55, .265, 1.55);
 
 /***************************
  *  Project Main Styles
  **************************/
 *,
 *:before,
 *:after {
   box-sizing: border-box;
   margin:     0;
   padding:    0;
 }
 
 body {
   font-family:      $font-family;
   font-size:        $font-size;
   background-color: $color-body;
 }
 
 /***************************
  *  Application Main Styles
  **************************/
 #menu--toggle[type="checkbox"]:not(:checked),
 #menu--toggle[type="checkbox"]:checked {
   display: none;
 }
 
 .menu--toggle__trigger,
 .menu--toggle__burger,
 .menu--toggle__burger:before,
 .menu--toggle__burger:after {
   position: absolute;
   top: 1.6em;
   left: 1.6em;
   width: 2em;
   height: 5px;
   background-color: $color-text;
   border-radius: 2px;
   cursor: pointer;
   z-index: 100;
   transition: $variable-burger-animation-time $variable-menu-animation-function;
 }
 
 .menu--toggle__trigger {
   height: 2em;
   background: none;
 }
 
 .menu--toggle__burger {
   
   &:before {
     content: "";
     top: 10px;
     left: 0;
   }
   &:after {
     content: "";
     top: 20px;
     left: 0;
   }
 }
 
 .menu__body {
   position: absolute;
   width: 7em;
   height: 7em;
   margin: 0;
   padding: 0;
   background-color: $color-menu;
   border-bottom-right-radius: 100%;
   box-shadow: 3px 3px 7px rgba($color-text, .2);
   z-index: 10;
   animation: checkboxUncheckedAnimation $variable-burger-animation-time both;
 }
 
 #menu--toggle:checked + .menu--toggle__trigger {
   
   & + .menu--toggle__burger {
     top: 35px;
     transform: rotate(405deg);
     transition: transform $variable-burger-animation-time $variable-burger-animation-function;
   
     &:before {
       top: 0;
       transform: rotate(-90deg);
       transition: transform $variable-burger-animation-time $variable-burger-animation-function;
     }
     &:after {
       top: 0;
       transform: rotate(90deg);
       transition: transform $variable-burger-animation-time $variable-burger-animation-function;
     }
   }
   
   & + .menu--toggle__burger + .menu__body {
     animation: checkboxCheckedAnimation $variable-menu-animation-time $variable-menu-animation-function both;
   }
   
  
 }
 
 @keyframes checkboxCheckedAnimation {
   50% {
     width: 100vw;
     height: 100vh;
   }
   100% {
     width: 100vw;
     height: 100vh;
     border-radius: 0;
   }
 }
 
 @keyframes checkboxUncheckedAnimation {
   0% {
     width: 100vw;
     height: 100vh;
   }
 }
 
 @keyframes changeWidthOfElementAnimation {
   50% {
     width: 0;
   }
   100% {
     width: 100%;
   }
 }