page-tutorial { 
  $pink: #FF8FDE;
  $blue: #618BFF;



//   .image-background{
       
//     position: fixed;
//    //z-index: -1;
//   //background-image: linear-gradient(#f33464,#3f33ec);
      
//  }

  
  .toolbar-background {
    background-color: rgba(0, 0, 0, 0);
        color: white; 
  }
  
 
  .slide{
    margin-top: 0vh;
    
    z-index: 999;
    background: transparent;
    
  .p{
    color:#ffff;
      font-size: 2.0em;
      font-family: 'FORMA';
      font-style: normal;
      src: url('../assets/fonts/forma/Signika-Semibold.ttf');
}  
}

  

  .slide-title {
    margin-top: 2.8rem;
   

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
    
  }

  b {
    font-weight: 500;
   
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    

    b {
      color: #fff;
    }
  }

  
  
}







  


}
