<!-- -->
<div class="flake2"></div>
<div class="flake3"></div>
<div class="image-background"></div>

<ion-content padding id="all">
  <div class="signup-content">

    <!-- Logo -->
    <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="text-primary" color="dark">
        <strong>Cadastre-se</strong>
      </h2>
    </div>



    <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

      <!--........... NOME .............-->

      <ion-item class="item item-trns">
        <ion-label floating color="dark">
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Nome completo
        </ion-label>
        <ion-input formControlName="name" type="text">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.name.valid
      && signupForm.controls.name.touched">
        <p>Por favor insira um nome.</p>
      </ion-item>

      <!--........... EMAIL .............-->

      <ion-item class="item item-trns2">
        <ion-label floating color="dark">
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input formControlName="email" type="email">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid &&
      signupForm.controls.email.touched">
        <p>Por favor insira um email válido.</p>
      </ion-item>

      <!--........... CONFIRME EMAIL .............-->



      <!--........... SENHA .............-->

      <ion-item class="item item-trns4">
        <ion-label floating color="dark">
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Senha
        </ion-label>
        <ion-input formControlName="password" type="password">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid
      && signupForm.controls.password.touched">
        <p>Sua senha precisa ter ao menos 6 caracteres.</p>
      </ion-item>

      <!--........... Confirme SENHA .............-->

      <ion-item class="item item-trns5">
        <ion-label floating color="dark">
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Confirme sua senha
        </ion-label>
        <ion-input formControlName="rePassword" type="Password">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.rePassword.valid
        && signupForm.controls.rePassword.touched">
        <p>Confirme sua senha.</p>
      </ion-item>

      <button ion-button block round color="dark" type="submit" [disabled]="!signupForm.valid">
        Cadastrar
      </button>

    </form>
<!-------------------------------------------------------End Form-------------------------------------->
    <div margin-top>
      <p text-center ion-text color="dark"><strong>Entrar com:</strong></p>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-only color="dark" round block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only color="dark" round block class="btn-twitter">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only color="dark" round block class="btn-g">
              <ion-icon name="logo-google"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="dark" tappable (click)="goToLogin()"><strong>Já tenho uma conta!</strong></span>
    </div>

  </div>
 
  

  </ion-content>

 