<ion-header>

  <ion-navbar>
    <ion-title>test-page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 text-center>ApegoKids!</h1><br>
  <h3 *ngIf="currentUser">Bem vindo {{ currentUser.email }}</h3>
  <button ion-button block clear (click)="logOut()">
    logout
  </button>


  <h3>Usuários</h3>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <h2>Nome: {{ user.name }}</h2>
      <p>
        Email: {{ user.email }}<br>
        Uid: {{ user.uid }}<br>
        DocId: {{user.id}}
      </p>

    </ion-item>
  </ion-list>
</ion-content>