<ion-header>

  <ion-navbar>
    <label ion-text class="text-primary" color="light">
      {{title}}
    </label>
  </ion-navbar>

</ion-header>


<ion-content padding class="produto">
  <button ion-button icon-left (click)="presentActionSheet()">
    <ion-icon name="camera"></ion-icon>
    Escolher Foto
  </button>
  <div *ngIf="isEditable">
    <p>isEditable</p>
    <img src="{{lastImageUrl}}" class="img" />
  </div>
  <div *ngIf="!isEditable">
    <p>isNotEditable</p>
    <img class="img" src="{{lastImageBase64src}}" style="width: 100%; height: 50%" [hidden]="lastImageBase64src === null">
  </div>

  <form [formGroup]="form" (ngSubmit)="saveDocument(form.value)">

    <ion-item>
      <ion-label stacked>Nome do Produto:</ion-label>
      <ion-input type="text" formControlName="name" [(ngModel)]="name"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label stacked>Descrição:</ion-label>
      <ion-input type="text" formControlName="description" [(ngModel)]="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Categoria: {{category}}</ion-label>
      <ion-select (ionChange)="updateSubcategories($event)" formControlName="category" [(ngModel)]="category">
        <ion-option *ngFor='let category of categories'>{{category}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="category">
      <ion-label stacked>Subcategoria:</ion-label>
      <ion-select formControlName="subcategory" [(ngModel)]="subcategory">
        <ion-option *ngFor='let subcategory of subcategories'>{{subcategory}}</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label stacked>Preço:</ion-label>
      <ion-input type="number" style="color: transparent" formControlName="price" [(ngModel)]="price">
      </ion-input>
      <ion-label class="product-price-formated" stacked style="
      text-align: right;
      font-size: 1.0em;
      color: black
      ">{{
        price | currency : 'BRL' : 'symbol' : '0.2-2'}}</ion-label>
    </ion-item>





    <ion-item>
      <button ion-button block color="primary" text-center padding-top padding-bottom [disabled]="!form.valid || !lastImageUrl">
      <!-- <button ion-button block color="primary" text-center padding-top padding-bottom [disabled]="!form.valid"> -->
        <div *ngIf="!isEditable">
          Adicionar produto
        </div>

        <div *ngIf="isEditable">
          Atualizar produto
        </div>
      </button>
    </ion-item>

  </form>
  <p>{{ price | currency : 'BRL' : 'symbol' : '2.2-2' }}</p>
  <p>{{ price }}</p>



</ion-content>